:root {
    /* todo: vars */
}

body {
    background-color: #141414;
    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto;
    padding-top: 64px;
    font-family: Inter, sans-serif;
    color: hsl(0, 0%, 100%);
}

.block {
    background-color: #282828;
    border-radius: 16px;
    padding: 8px 24px;
    margin: 20px 0;
    filter: drop-shadow(hsla(0, 0%, 0%, 25%) 0 8px 8px);
}

h1, h2 {
    margin: 16px 0 4px;
}

h1 {
    font-weight: 900;
    font-size: xx-large;
}

h2 {
    font-weight: 900;
    font-size: x-large;
}

a {
    color: hsl(0, 0%, 100%);
}

a:hover {
    color: hsl(0, 0%, 75%);
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 50%);
    background-color: #282828;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    padding: 4px 8px;
    cursor: pointer;
}

button img {
    height: 16px;
    margin-bottom: -4px;
    filter: invert(1);
}

button.icon-only {
    height: 64px;
    width: 64px;
}

button.icon-only img {
    height: 32px;
}

button:disabled img {
    filter: invert(0.5);
}

/* this is fucked up */

.header-container {
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    max-width: 1000px;
    width: 100%;
    padding: 0;
}

.header {
    height: 48px;
    display: flex;
}

.header button {
    height: 48px;
    font-size: 20px;
    padding: 0 16px;
}

.header button > img {
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.header > div {
    display: flex;
    flex: 0 0 50%;
}

.header-right {
    justify-content: flex-end;
}

.header-blur {
    z-index: 1;
    height: 52px;
    width: 100vw;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    mask: linear-gradient(black, transparent);
    backdrop-filter: blur(8px);
}

.header-logo {
    height: 48px;
    width: 48px;
}

.header .button-row {
    gap: 8px;
}

.header button.icon-only {
    margin-top: 8px;
    margin-right: 8px;
    height: 24px;
    width: 24px;
    border: 0;
}

.header button.icon-only img {
    height: 24px;
}

/**/

.footer {
    color: hsl(0, 0%, 75%);
    font-size: small;
    text-align: center;
    width: 100%;
    margin-bottom: 32px; /* we're living in the world where home button is an iphone pill */
}

.footer a {
    color: hsl(0, 0%, 75%);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer > * {
    margin: 0 8px;
}

.footer-title {
    display: inline-block;
}

@media screen and (width <= 1000px) {
    .footer-title {
        display: inherit;
        margin-bottom: 4px;
    }
}

.focus, .message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
}

.focus {
    margin-top: 64px;
}

.focus > img {
    margin-bottom: -100px;
    width: 100%;
    max-width: 800px;
    mask: linear-gradient(black, black, transparent);
}

img.focus-logo {
    margin-bottom: 16px;
    width: 80%;
    max-width: 400px;
    mask: none;
}

.content {
    padding-bottom: 24px;
}

.content .button-row {
    margin: 8px 0 12px;
}

.message, .message-footer {
    filter: invert(25%);
}

.message {
    margin-top: 128px;
}

.message > img {
    width: 80px;
}

.message > span {
    font-weight: 600;
    font-size: xx-large;
}

.message-footer {
    left: 50%;
    transform: translateX(-50%);
    bottom: 64px;
    position: fixed;
}

.message-footer > span {
    font-size: small;
}